<!-- wp:template-part {"slug":"nav","theme":"greekMythos","area":"uncategorized"} /-->

<!-- wp:heading {"level": 2} -->
<h2>About the Philosophers</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Learn more about the creators behind the scenes below! How did these great
  Philosophers develop this resourceful site you may ask, dear mortal? It all
  began at a cafe during the night time, where they all scheduled a dinner with
  each other. Each shared their love for Ancient Greece, and came up with the
  idea of creating the best way to share such information with the world: a
  website! The rest is history- or should we say- Ancient History!
</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading">Zeus Hendrix - Creator of Greek Mythos</h3>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading">Lucillian Randalar - Co-Creator</h3>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large">
      <img src="https://picsum.photos/400/400" alt="" />
    </figure>
    <!-- /wp:image -->

    <!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading">Leonard Cobalt - Researcher and Designer</h3>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">
      Zeus Hendrix has always had a passion for Greek Mythology, and wanted to
      make the knowledge of Ancient Greece accessible to the world. Every
      currently teaches at Greecian University as the Professor of Ancient
      History. His name matches his favorite greek god, and his powerful passion
      matches that name well.
    </h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">
      Lucillian Randalar is the Co-Creator of GreekMythos. She developed the
      idea of this site with her best friend and creator Zeus Hendrix. The pair
      met in college and have found that they shared interest in Ancient Greece.
      Today, she works at the Ancients Musuem, studying new artifacts found each
      day and conducting tours.
    </h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">
      Leonard Cobalt is a graphic designer and researcher that currently works
      at the Ancients Museum. Leonard first met Lucillian at the museum, and
      found her and Zeus's idea exciting. He currently conducts research in
      order to provide monthly fascinating articles about artifacts that were
      found in other countries. Lots of posters and graphics found at the
      Greecian University and Ancients Museum were created courtesy of Leonard
      Cobalt.
    </h4>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"greekMythos"} /-->
