<!-- wp:template-part {"slug":"nav","theme":"greekMythos","area":"uncategorized"} /-->

<!-- wp:heading {"level":1} -->
<h1>Welcome Mortals to the World of Greek Mythos</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
  <img src="https://picsum.photos/1380/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>
  Welcome to the number one research site about Ancient Greece! Take a step back
  in time and learn more about the Greek gods and heroes of their time. Here on
  this site, myth becomes reality, as you traverse through countless stories and
  legends from the past.
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":2} -->
<h2>New Monthly Theme! Artemis: Goddess of the Moon</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Each month we have a web theme dedicated to a Greek God or Hero of myth, as
  well as several articles regarding new artifacts and stories that have been
  recently unearthed! This month's theme is Artemis: Goddess of the Moon! Check
  out our web themes and download it to show your pride for the Goddess! Check
  out posts and articles to learn more about her as well!
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":2} -->
<h2>Read The Most Interesting Posts of Today</h2>
<!-- /wp:heading -->

<!-- wp:heading {"level":2} -->
<h2>Want to stay up to date on new articles? Subscribe to our Newsletter!</h2>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
  <img src="https://picsum.photos/1380/300" alt="" />
</figure>
<!-- /wp:image -->
