<!-- wp:template-part {"slug":"nav","theme":"greekMythos","area":"uncategorized"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Welcome Mortals to the World of Greek Mythos</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
  <img src="https://picsum.photos/1380/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>
  Welcome to the number one research site about Ancient Greece! Take a step back
  in time and learn more about the Greek gods and heroes of their time. Here on
  this site, myth becomes reality, as you traverse through countless stories and
  legends from the past.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
  Here on the site, you are able to view posts from other viewers, catch up on
  the news surrounding Ancient Greece, subscribe to our newsletter for updates,
  and even contact us with any questions about Ancient Greece or suggestions for
  improving the site!
</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">
  Check out our home page to learn more about the site!
</h2>
<!-- /wp:heading -->

<!-- wp:buttons -->
<div class="wp-block-buttons">
  <!-- wp:button -->
  <div class="wp-block-button" id="home">
    <a
      class="wp-block-button__link wp-element-button"
      href="http://blank-panther.local"
      rel="http://blank-panther.local"
      >Travel to Home!</a
    >
  </div>
  <!-- /wp:button -->
</div>
<!-- /wp:buttons -->

<!-- wp:template-part {"slug":"footer","theme":"greekMythos"} /-->
